<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/289f686c-5d8c-4316-9121-b5d6c247d095/resourceGroups/LingomonResourceGroup/providers/Microsoft.Web/sites/LingomonApp</ResourceId>
    <ResourceGroup>LingomonResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://lingomonapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b70f1203-fb05-4f8b-b294-ad823a68eb32</ProjectGuid>
    <PublishUrl>https://lingomonapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LingomonApp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>